.form-register {
    margin-top: 37px;
}
  
.form-register-submit {
    margin-top: 18px;
}

.btn:disabled {
    background-color: #414154 !important;
    cursor: default;
    opacity: 0.3 !important;
    filter: alpha(opacity=30);
}

.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem transparent !important;
}

.__signin-btn {
    flex-grow: 8;
    margin-right: 6px;
}

.__signup-btn {
    flex-grow: 4;
    margin-left: 6px;
}