.__auth-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fbfbfe;

  &> .__auth-container-sections > div:nth-child(2) {
    color: #a4a4a4;
    font-size: 13px;
    margin-top: 4%;
    align-self: flex-end;
    
    &:hover {
      cursor: pointer;
    }
  }
}

.__auth-container {
    background-color: white;
    width: 472px !important;
    /* border: solid 1px #eaeced; */
    border-radius: 16px;
    padding: 40px !important;
    height: 460px;
    box-shadow: 0 12px 18px 2px rgba(34,0,51,.04), 0 6px 22px 4px rgba(7,48,114,.12), 0 6px 10px -4px rgba(14,13,26,.12);
  
    > .logo {
      display: inline-block;
  
      > img {
        width: 30px;
        height: 45px;
      }
    }
  
    .container-title {
        display: block;
        font-size: 25px;
        font-weight: 600;
        line-height: 45px;
        vertical-align: bottom;
        margin-bottom: 0.2rem;
        color: #414154 !important;
        text-align: center;
        //   margin-bottom: -0.1vw;
    }
  
    button {
      /* background-color: #4585f5; */
      /* background-color: black; */
      
      border-radius: 3.4px;
      height: 49px;
      /* padding: 10px 20px; */
      cursor: pointer;
      outline: transparent;
  
      &.on {
        background-color: #414154 !important;
        color: white;
        box-shadow: 0 2px 3px 0 rgba(34, 39, 48, 0.62);
        border: solid 0 #eaeced;
      }
  
      &.off {
        background-color: #f7f7f7;
        color: #5c5c5c;
        border: solid 0;
      }
    }

    .form-control {
      height: 49px;
    }

    * button:disabled {
      opacity: 0.5;
    }
}

.menu-box {
  margin-bottom: 21px;
  margin-top: 20px;
  padding: 0;
  display: flex;
}

.form-register {
  margin-top: 37px;
}
  
.form-register-submit {
  margin-top: 21px !important;
}

.btn:disabled {
  background-color: #414154 !important;
  cursor: default;
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
}

button:focus {
  outline: none !important;
}

.form-control:focus {
  border-color: #414154 !important;
  /* box-shadow: 0 2px 3px 0 rgba(34, 39, 48, 0.62) !important; */
  box-shadow: none !important;
}